@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*

NAVIGATION BAR

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.logo {
    width: 40px;
    margin-right: 12px;
}

.logo__link {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-weight: 900;
    font-size: 1.5rem;
    color: #243E63;
    transition: all 300ms ease;
}

.logo__link:hover {
    color: #6415FF;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    font-weight: 600;
    font-size: 14px;
    color: #243E63;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415FF;
    text-decoration: underline;
}

.link__login {
    margin-left: 48px;
}

.nav__link--primary {
    color: white;
    background-color: #6415FF;
    padding: 12px 32px;
    border-radius: 20px;
    margin: 0px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    color: white;
    background-color: #5111d2;
    text-decoration: none;
}