@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

span {
    color: #6415FF;
}

button {
    cursor: pointer;
}

/*

NAVIGATION BAR

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.logo {
    width: 40px;
    margin-right: 12px;
}

.logo__link {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-weight: 900;
    font-size: 1.5rem;
    color: #243E63;
    transition: all 300ms ease;
}

.logo__link:hover {
    color: #6415FF;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    font-weight: 600;
    font-size: 14px;
    color: #243E63;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415FF;
}

.link__login {
    margin-left: 48px;
}

.nav__link--primary {
    color: white;
    background-color: #6415FF;
    padding: 12px 32px;
    border-radius: 20px;
    margin: 0px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    color: white;
    background-color: #5111d2;
    text-decoration: none;
}

/*

LANDING

*/

.header__container {
    display: flex;
    max-width: 1200px;
    padding: 96px 0;
}

.header__description {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    width: 40vw;
}

.header__title {
    font-size: 48px;
}

.header__subtitle {
    font-size: 18px;
    margin: 32px 0;
    color: #243E63;
    line-height: 1.5;
}

.input-button-container {
    display: flex;
    align-items: center;
    width: 90%;
}

.email__input {
    position: absolute;
    border: none;
    font-size: 100%;
    padding: 20px 192px 20px 32px;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 50px;
    font-weight: 500;
}

.header__button {
    display: flex;
    position: relative;
    border: none;
    background-color: #6415FF;
    color: #ffffff;
    padding: 16px 36px;
    margin: 8px 8px 8px 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    right: 0;
}

.header__logos {
    width: 100%;
}

.header__logos--wrapper {
    margin-top: 80px;
}

.header__img--wrapper {
    width: 60%;
    position: relative;
}

.header__img {
    width: 100%;
}