@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.purple {
    color: #6415FF;
}

.section__subheading {
    color: #6415FF;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

p {
    color: #7C8ba1;
    font-weight: 500;
    line-height: 2;
}

.section__description {
    margin: 16px 0 0 0;
    line-height: 1.5;
    font-size: 18px;
}

.section__button {
    background-color: #6415FF;
    color: white;
    border: none;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    margin: 32px 0 0;
}

/*

NAVIGATION BAR

*/

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 32px;
}

.logo {
    width: 40px;
    margin-right: 12px;
}

.logo__link {
    display: flex;
    align-items: center;
    margin-right: 24px;
    font-weight: 900;
    font-size: 1.5rem;
    color: #243E63;
    transition: all 300ms ease;
}

.logo__link:hover {
    color: #6415FF;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin: 0 24px;
    font-weight: 600;
    font-size: 14px;
    color: #243E63;
    transition: all 300ms ease;
}

.nav__link:hover {
    color: #6415FF;
}

.link__login {
    margin-left: 48px;
}

.nav__link--primary {
    color: white;
    background-color: #6415FF;
    padding: 12px 32px;
    border-radius: 20px;
    margin: 0px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    color: white;
    background-color: #5111d2;
    text-decoration: none;
}

/*

LANDING

*/

.header__container {
    display: flex;
    max-width: 1200px;
    padding: 96px 0;
}

.header__description {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    width: 40vw;
}

.header__title {
    font-size: 48px;
}

.header__subtitle {
    font-size: 18px;
    margin: 32px 0;
    color: #243E63;
    line-height: 1.5;
    font-weight:400;
}

.input-button-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    
}

.email__input {
    border: none;
    font-size: 100%;
    padding: 22px 192px 22px 32px;
    border: 2px solid #a0aec0;
    border-radius: 50px;
    font-weight: 500;
}

.header__button {
    display: flex;
    position: absolute;
    border: none;
    background-color: #6415FF;
    color: #ffffff;
    padding: 16px 36px;
    margin: 8px 8px 8px 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms ease;
    right: 0
}

.header__button:hover {
    background-color: #5111d2;
}

.header__logos {
    width: 100%;
}

.header__logos--wrapper {
    margin-top: 80px;
}

.customer__logos--description {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}

.customer__logos {
    margin: 16px 0px 0px;
    width: 75%;
    opacity: 50%;
}

.header__img--wrapper {
    width: 60%;
    position: relative;
}

.header__img {
    width: 100%;
}

/*

FEATURES

*/

.features__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    margin: 0 92px;
}


.features__description {
    text-align: center;
    width: 60%;
}

.highlights {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-top:40px;
}

.highlight {
    display: flex;
    justify-content: center;
    width: calc(100% / 3);
    padding: 32px 8px;
}

.highlight__img {
    border: 2px solid #a0aec01c;
    padding: 20px;
    height:68px;
    border-radius: 50%;
}

.highlight__text--container {
    width: 60%;
    margin: 8px 0px 0px 16px
}

.highlight__title {
    font-size: 24px;
    font-weight: 700;
    color: #243E63;
}

.highlight__description {
    color: #7C8ba1;
    font-weight: 500;
    margin: 16px 0 0 0;
}

/*

QUALITY WORK

*/

